@model Proiect.Models.Project
@{
    ViewBag.Title = Model.ProjectName.ToString();
}

@Html.Partial("_Notification")

<br />
<br />

<div class="panel panel-primary">
    <div class="panel-heading" style="background-color:#1a1a1a">
        <h1 class="panel-title">@Model.ProjectName</h1>
    </div>
    <div class="panel-body" style="background-color:#ffff66">
        <p>@Model.ProjectDescription</p>
        <br />
    </div>
    <div class="panel-footer" style="background-color:#ffff66">
        <p><span class="glyphicon glyphicon-info-sign"></span>&nbsp;<i>Echipa: </i><a href="/Teams/Show/@Model.TeamId">@Model.Team.TeamName</a></p>
    </div>
</div>

<br />

<div>
    @if ((ViewBag.afisareButoane == true && Model.UserId == ViewBag.currentUser) || ViewBag.isAdmin)
    {

        <form method="post" action="/Projects/Delete/@Model.ProjectId">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button type="submit" class="btn btn-danger pull-left" style="margin-right:39px"><span class="glyphicon glyphicon-trash"></span>&nbsp;Stergere proiect</button>
        </form>

        <a href="/Projects/Edit/@Model.ProjectId" class="btn btn-info pull-left" style="background-color:#006600; color:white"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Editare proiect</a>
        <br />
        <hr />

        <div class="clearfix"></div>
    }
</div>

<br />
<div class="panel panel-default" style="width:50%; margin-left:25%; margin-right:25%">
    <div class="panel-heading" style="background-color:#006600">
        <div>
            <h3 class="pull-left" style="color:#1a1a1a">Task-uri</h3>
            @if ((ViewBag.afisareButoane == true && Model.UserId == ViewBag.currentUser) || ViewBag.isAdmin)
            {
                <form method="get" action="/Tasks/New">
                    <input type="hidden" id="ProjectId" name="ProiectId" value="@Model.ProjectId"><br>
                    <button type="submit" class="btn btn-info; pull-right" style="background-color:#ffff66; color:#1a1a1a"><span class="glyphicon glyphicon-plus" style="color:black"></span>&nbsp;Adauga task</button>
                </form>
            }
            <br />
            <div class="clearfix"></div>
        </div>
    </div>


    <table class="table" style="background-color:#ffff66">
        @{
            int nr = 0;
        }
        @foreach (Proiect.Models.Task task in Model.Tasks)
        {
            nr = nr + 1;
            <tr>
                <th>@nr.</th>
                <td><a href="/Tasks/Show/@task.TaskId"><span class="glyphicon glyphicon-hand-right"></span>&nbsp;@task.TaskName</a></td>
                <td>
                    @if (task.Status == "Not started")
                    {
                        <p><span class="glyphicon glyphicon-remove"></span>&nbsp;@task.Status</p>
                    }
                    @if (task.Status == "Done")
                    {
                        <p><span class="glyphicon glyphicon-ok"></span>&nbsp;@task.Status</p>
                    }
                    @if (task.Status == "In progress")
                    {
                        <p><span class="glyphicon glyphicon-adjust"></span>&nbsp;@task.Status</p>
                    }
                </td>
            </tr>
        }
    </table>
</div>

<br />
<a href="/Home/Index" class="btn btn-info" style="background-color:#1a1a1a; margin-left:40%; color:white"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Echipele si proiectele mele</a>