@model Proiect.Models.Task
@{
    ViewBag.Title = Model.TaskName;
}
<h1>@ViewBag.Message</h1>
<br />
<hr />
<h1>@Model.TaskName</h1>
<br />
<hr />
<h2>@Model.Status</h2>
<br />
<hr />
<h3>@Model.TaskDescription</h3>
<br />
<hr />
<p>@Model.StartDate</p>
<br />
<p>@Model.EndDate</p>
<br />
<hr />
<h3>@Model.Project.ProjectName</h3>
<br />
<hr />
@if (Model.WorkerId != null)
{
    <h3>Utilizatorul @ViewBag.WorkerName</h3>
}

@if (Model.WorkerId == null)
{
    <h3> Nu lucreaza nimeni la acest task </h3>
}

<br />
@if ((ViewBag.afisareButoane == true && Model.UserId == ViewBag.currentUser) || ViewBag.isAdmin)
{
    if (Model.WorkerId == null)
    {
        <a class="btn btn-default" href="/Tasks/AddWorker/@Model.TaskId">Asigneaza un utilizator pentru acest task </a>
    }
    if (Model.WorkerId != null)
    {
        <a class="btn btn-default" href="/Tasks/AddWorker/@Model.TaskId">Schimba utilizatorul pentru acest task </a>

    }
    <br />
    <hr />
    <form method="post" action="/Tasks/Delete/@Model.TaskId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button type="submit" class="btn btn-danger">Sterge taskul</button>
    </form>
    <hr />

    <a class="btn btn-default" href="/Tasks/Edit/@Model.TaskId">Editeaza taskul</a>
    <br />
    <hr />
}
<a class="btn btn-default" href="/Tasks/Index">Inapoi la lista taskurilor</a>

@foreach (var comm in @Model.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div>
                    <p>@comm.CommentContent</p> <small class="pull-right">@comm.Date</small>
                </div>
                <div style="display: inline-block; float : left; margin-right: 15px">
                    <a class="glyphicon glyphicon-pencil" href="/Comments/Edit/@comm.CommentId"></a>
                </div>
                <div style="display: inline-block; float : left">
                    <form method="post" action="/Comments/Delete/@comm.CommentId">
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button class="glyphicon glyphicon-trash" style="border: none; background: transparent" type="submit"></button>
                    </form>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <hr />
}
<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="panel">
                <form method="post" action="/Comments/New">
                    <div class="panel-body">
                        <input type="hidden" name="TaskId" value="@Model.TaskId" />
                        <input type="hidden" name="Date" value="@DateTime.Now" />
                        <label>Continut comentariu</label>
                        <br />
                        <textarea class="form-control" name="CommentContent"></textarea>
                        <br />
                        <button class="btn btn-success " type="submit">Adauga comentariu</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>